body {
  background-color: #060606;
  padding-top: 100px;
  padding-bottom: 100px;
}

 

/* .navbar {
  background-color: #000; 
  color: #fff; 
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #ddd; 
}

.main-content {
  background-color: #fff; 
  padding: 20px;
  border-radius: 5px; 
  margin-bottom: 20px;
}

.card {
  margin-bottom: 20px;
  border: none;
}

.card-body {
  background-color: #333; 
  color: #fff; 
}

.card-title {
  color: #fff;
}

.footer {
  background-color: #000; 
  color: #fff; 
  padding: 20px 0;
}

.footer col {
  text-align: center;
}

.container {
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col, .col-12, .col-md-8, .col-lg-6, .col-xl-4 {
  padding: 0 15px;
  flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .col-md-8 {
    flex-basis: 66.666667%;
    max-width: 66.666667%;
  }
}

@media (min-width: 992px) {
  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  .col-xl-4 {
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
} */
