.hide {
  display: none;
}

.accordion-header button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.accordion-header button .postTitle {
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
}

.vote-btns {
  display: flex;
  text-align: center;
}

.article-img {
  min-width: 80%;
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.singlePost-date {
  line-height: 0em;
}
