.text-ad {
  font-size: 1.5rem;
  font-weight: bolder;
}
.login-link {
  background-color: rgb(183, 180, 180);
}
.login-link:hover {
  background-color: #14e956;
}
.signup-btn:disabled {
  background-color: #77e99c;
  border: #77e99c;
  color: black;
}
.signup-btn {
  background-color: #14e956;
  border: #14e956;
  color: black;
}
.signup-btn:hover {
  background-color: #14e956;
  border: #14e956;
  color: black;
}
