.footer-container {
  background-color: #343a40;
  color: white;
  padding: 0px;
}

.footer-col {
  text-align: center;
  margin: 10px 0;
}

.footer-rounded {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.footer-info {
  background-color: rgb(229, 229, 229);
  padding: 2%;
  border-radius: 25px;
}
.footer-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Helvetica-Neue", sans-serif;
}
.footer-link:hover {
  color: #14e956;
}
