.hide {
  display: none;
}

.accordion-header button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.accordion-header button .postTitle {
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
}
