@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


.nav-link {
    font-weight: bold; /* Make nav-link text bold */
    font-size: 1.2rem;
}

/* BlogScore title styling */
  .font-c {
    font-family: 'Audiowide', sans-serif;
  }
  
  .color-c {
    color: #14e956;
  }

  .size-change {
    font-size: 3rem;
  }

  .rounded-navbar {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }