.singlePost-author {
  margin-left: 3%;
}
.singlePost-date {
  line-height: 0em;
  margin-left: 3%;
}
.singlePost-Title {
  font-size: 2rem;
}
.singlePost-img {
  min-width: 60%;
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
